/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

h1 {
  font-family: "Roboto", sans-serif;

  text-decoration: underline;
}
p {
  font-family: "Roboto", sans-serif;

  font-size: 1rem;
  margin: 2px;
}

li {
  font-family: "Source Code Pro", monospace;
  color: blue;
  margin: 5px 10px;
  list-style: none;
}

span {
  font-family: "Roboto", sans-serif;

  color: red;
}

em {
  font-family: "Roboto", sans-serif;

  color: green;
  font-size: 0.9rem;
}
