h1 {
  text-decoration: underline;
}
p {
  font-size: 1rem;
  margin: 2px;
}

li {
  color: blue;
  margin: 5px 10px;
  list-style: none;
}

span {
  color: red;
}

em {
  color: green;
  font-size: 0.9rem;
}
